* {
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

body {
    font-family: "Arial";
}

h1,
a,
p {
    color: #fff;
}

h1 {
    max-width: 690px;
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 800;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    padding: 19px 0;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.gap_10 {
    gap: 10px;
}

.main_container {
    background-image: radial-gradient(circle at center, #34619d 0%, #34619d 1%, #1d3b6e 100%);
}

.navigation {
    width: 100%;
    border-radius: 20px;
    max-width: 438px;
    padding: 0 56px;
    background-color: rgba(172, 172, 170, 0.3);
}

.menu a {
    display: inline-block;
    padding: 6px 0;
    font-size: 14px;
    line-height: 2.1em;
    text-transform: uppercase;
    font-weight: bold;
}

.contacts a {
    font-size: 16px;
    line-height: 3.1em;
}

.main {
    position: relative;
    padding: 130px 0;
}

.main_text {
    position: relative;
    min-width: 70vw;
    z-index: 2;
}

.slogan {
    font-size: 30px;
    padding-bottom: 25px;
}

.cta_container {
    padding-bottom: 35px;
}

.cta {
    display: inline-block;
    padding: 22px 42px;
    font-size: 18px;
    text-transform: uppercase;
    color: #f4d633;
    font-weight: bold;
    border-radius: 35px;
    background-color: transparent;
    border: 3px solid #f4d633;
}

.rating_container {
    font-size: 20px;
    font-weight: bold;
}

.ball_container {
    position: absolute;
    bottom: -10px;
    right: 0;
}

.bottom_container {
    background-color: #f4d633;
}

.graphick p {
    color: #1e3c6f;
    font-weight: bold;
}

.footer {
    padding: 14px 0;
}

.footer>p {
    font-size: 12px;
    color: #204075;
    text-align: right;
}